<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Main page</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
    <a class="navbar-brand" href="#">BioSystem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Greeting</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/main">Main<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">Registration</a>
            </li>
        </ul>
        <div class="navbart-text mr-3 ml-3" th:text="'welcome '+${username}"></div>
        <form action="#" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-danger">Sing out</button>
        </form>

    </div>
</nav>

<div class="container">

    <a class="btn btn-outline-success my-2" id="crtMeasBtn" data-toggle="collapse"
       href="#collapseMeasurementForm" role="button" aria-expanded="false"
       aria-controls="collapseExample" th:text="'Create measurement'">
    </a>


    <div class="measurementForm">
        <form action="#" th:action="@{/mainSave}" method="post" enctype="multipart/form-data">

            <div class="modal fade" id="createMeasurementModal" tabindex="-1" role="dialog" aria-labelledby="createMeasurementModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createMeasurementModalLabel" th:text="'Create measurement'"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="descriptionId" class="col-form-label" th:text="'Description:'"></label>
                                <input type="text" class="form-control" id="descriptionId" name="description"/>
                            </div>

                            <!--
                            <div class="form-group">
                                <label for="fileId1" class="col-form-label" th:text="'Upload image'"></label>
                                <input type="file" accept=".jpg,.jpeg,.png,.bmp" class="form-control-file" id="fileId1" name="file" placeholder="upload image"/>
                            </div>
                            -->

                            <div class="custom-file">
                                <input type="file" accept=".jpg,.jpeg,.png,.bmp" class="custom-file-input" id="fileId" name="file">
                                <label for="fileId" class="custom-file-label text-truncate" th:text="'Upload image'"></label>
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="'Close'"></button>
                            <input type="submit" class="btn btn-success" value="Add measurement"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>


    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col" th:text="'Data'"></th>
            <th scope="col" th:text="'Description'"></th>
            <th scope="col" th:text="'State'"></th>
            <th scope="col" th:text="'Processing image'"></th>
            <th scope="col" th:text="'Original image'"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="measurement:${measurements}">
            <td th:text="${measurement.stringData}" th:id="'measurementStringDataId'+${measurement.id}"></td>
            <td th:id="'measurementDescriptionId'+${measurement.id}">
                <p>
                    <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                            th:data-target="'#cardMeasurementDescriptionId'+${measurement.id}"
                            aria-expanded="false" aria-controls="collapseExample"
                    th:text="'Description'"></button>
                </p>

                <div class="collapse" th:id="'cardMeasurementDescriptionId'+${measurement.id}">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header" th:text="'Current description'"></div>
                        <div class="card-body" th:text="${measurement.description}"></div>
                    </div>
                </div>
            </td>
            <td>
                <p>
                    <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                            th:data-target="'#cardMeasurementStateId'+${measurement.id}"
                            aria-expanded="false" aria-controls="collapseExample"
                    th:text="'State'"></button>
                </p>

                <div class="collapse" th:id="'cardMeasurementStateId'+${measurement.id}">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header" th:text="'Current state'"></div>
                        <div class="card-body">
                            <p class="card-text" th:text="'area: '+${measurement.area}"></p>
                            <p class="card-text" th:text="'perimeter: '+${measurement.perimeter}"></p>
                            <p class="card-text" th:text="'diameter: '+${measurement.diameter}"></p>
                            <p class="card-text" th:text="'bounds: '+${measurement.bounds}"></p>
                            <p class="card-text" th:text="'asymmetry: '+${measurement.asymmetry}"></p>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <p>
                    <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                            th:data-target="'#cardMeasurementProccessingImageId'+${measurement.id}"
                            aria-expanded="false" aria-controls="collapseExample"
                            th:text="'Proccessing image'"></button>
                </p>

                <div class="collapse" th:id="'cardMeasurementProccessingImageId'+${measurement.id}">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header" th:text="'Current proccessing image'"></div>
                        <img class="card-img-top" th:src="@{'uploads/' + ${measurement.proccessingImage}}"/>
                    </div>
                </div>
            </td>
            <td>
                <p>
                    <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                            th:data-target="'#cardMeasurementOriginalImageId'+${measurement.id}"
                            aria-expanded="false" aria-controls="collapseExample"
                            th:text="'Original image'"></button>
                </p>

                <div class="collapse" th:id="'cardMeasurementOriginalImageId'+${measurement.id}">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header" th:text="'Current original image'"></div>
                        <img class="card-img-top" th:src="@{'uploads/' + ${measurement.originalImage}}"/>
                    </div>
                </div>
            </td>
            <!--

            <td>
            <a th:href="@{findOne/(id=${measurement.id})}" class="btn btn-outline-primary eBtn" th:text="'Edit'"></a>
                <a th:href="@{findOne/(id=${measurement.id})}" class="btn btn-outline-primary eBtn">Edit</a>

            </td>
                        -->

            <td>
                <a th:href="@{delete/(id=${measurement.id})}" class="btn btn-outline-danger delBtn">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>


</div>

    </div>


<div class="container">

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2" th:text="'Delete measurement'"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger" th:text="'Are you sure?'"></p>

                </div>
                <div class="modal-footer">
                    <form action="#" th:action="@{/mainDelete}" method="post"/>

                    <input id="delId" value="0" name="id"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="'Close'"></button>
                    <button type="submit" class="btn btn-danger" th:text="'Delete'"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    $(document).ready(function(){
        $("#crtMeasBtn").click(function(){
            $("#createMeasurementModal").modal();
        });
    });

    $(document).ready(function(){
        $(".delBtn").click(function(){

            event.preventDefault();

            var href = $(this).attr('href');
            var text = $(this).text();

            var ind = href.indexOf('=');
            var id = href.substring(ind + 1, href.length);

            var elemMeasurementIdForm = document.getElementById('delId');

            elemMeasurementIdForm.setAttribute('value', id);

            elemMeasurementIdForm.style.display='none';

            $("#deleteModal").modal();
        });
    });



    $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });


    $(document).ready(function () {
        $(".table .delBtn").on('click', function (event) {

            event.preventDefault();

            var href = $(this).attr('href');


        });

    });

</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>